body {
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

#__next {
  min-height: 100vh;
}

pre {
  max-width: 100%;
  overflow-x: auto;
  background: #444;
}

input {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

::selection {
  background: #02b7ff;
  color: white;
}
