.copyButton,
.copyLabel,
.copyFeedback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  user-select: none;
}

.copyLabel,
.copyFeedback {
  font-size: 1.5rem;
  font-weight: bold;
  pointer-events: none;
  white-space: nowrap;
  border: 0.25rem solid transparent;
  opacity: 0;
  text-transform: uppercase;
}

.copyLabel {
  color: #02B7FF;
}

.copyFeedback {
  border-color: #DC1383;
  color: #DC1383;
}

.copyButton:hover {
  .copyLabel {
    opacity: 1;
  }
}


.copyButton__copied {
  &, &:hover {
    .copyLabel {
      opacity: 0;
    }
  }
  .copyFeedback {
    opacity: 1;
  }
}
