.columns {
  display: grid;
  grid-template-columns: repeat(var(--column-count), 300px);
  column-gap: var(--grid-gap);
}

.columns,
.imgContainer {
  width: 100%;
}

.imgContainer {
  position: relative;
  background: rgba(white, 0.9);
  margin-bottom: var(--grid-gap);
}

.img {
  width: 100%;
  height: auto;
  display: block;
}
