.input {
  padding: 1.5rem 1rem 1rem;
  font-size: 1.5rem;
  width: 100%;
  margin: 1.5rem 0;
  outline: none;
  border: 0.25rem solid transparent;
  transition: 0.1s ease-out border-color;

  &:focus {
    border-color: #56a4fc;
    border-color: #591236;
    border-color: #DC1383;
  }

  &::-webkit-search-cancel-button {
    display: none;
  }
}
