$grid-gap: 1rem;

.columns {
  display: grid;
  grid-template-columns: repeat(var(--column-count), 300px);
  column-gap: $grid-gap;
}

.columns,
.imgContainer {
  width: 100%;
  margin: $grid-gap 0;
}

.imgContainer {
  position: relative;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}
