$search-height: 5rem;

.wrapper {
  position: relative;
}

.input {
  width: 100%;
  height: $search-height;
  padding: 0 1rem;
  font-size: 1.5rem;
  outline: none;
  border: 0.5rem solid transparent;
  background: rgba(white, 0.9);

  &:focus {
    border-color: #dc1383;
  }

  &::-webkit-search-cancel-button {
    display: none;
  }
}

.clear {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: $search-height;
  height: $search-height;
  background: transparent;
  border: 0;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 413.348 413.348'%3E%3Cdefs/%3E%3Cpath d='M413.348 24.354L388.994 0l-182.32 182.32L24.354 0 0 24.354l182.32 182.32L0 388.994l24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z'/%3E%3C/svg%3E");
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center center;
}
