.input {
  padding: 1.5rem 1rem 1rem;
  font-size: 1.5rem;
  width: 100%;
  margin: 1.5rem 0;
  outline: none;
  border: 0.5rem solid transparent;
  background: rgba(white, 0.9);

  &:focus {
    border-color: #dc1383;
  }

  &::-webkit-search-cancel-button {
    display: none;
  }
}
